*{
	margin: 0;
	padding: 0;
}


.keyart, .keyart_layer {
	height: 1100px;
	width: 100%;
}

#parallax {
	display: block;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1000px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.keyart_layer.parallax {
	postiion: fixed;
}

#keyart-0 {
	background-image: url("sabino000.png");
	background-color: #ece8ef;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: bottom left;
}

#keyart-1 {
	background-image: url("sabino001.png");
	background-position: bottom left;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#keyart-2 {
	background-image: url("sabino002.png");
	background-position: bottom left;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#keyart-3 {
	background-image: url("sabino003.png");
	background-position: bottom left;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#keyart-4 {
	background-image: url("sabino004.png");
	top: 100px;
	background-position: bottom left;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#keyart-5 {
	vertical-align: middle;
	text-align: center;
	position: absolute;
	padding: 0;
	top:17%;
	height: 100px;
}

#keyart-5a {
	vertical-align: middle;
	text-align: center;
	position: absolute;
	padding: 0;
	top:57%;
	height: 100px;
}



#keyart-5 h1, #keyart-5a h1, #keyart-5b h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 5em;
	color: #FFFFFF;
}

#keyart-6 {
	background-image: url("sabino005.png");
	height: 1000px;
	width: 100%;
	background-position: bottom left;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.overview {
	height: 2000px;
	width: 100%;
	font-family: Impact;
	position: relative;
	top: -200px;
	z-index: 1000;
	background-color: #FFFFFF;
}

.overview h1 {
	font-family: 'Pathway Gothic One', sans-serif;
	text-align: center
	top: 20px;
}

.overview p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

.row{
	background-color: blue;
	width: 100%;

}

.col-xs-4, .col-xs-8{
	background-color: red;
	border: 2px solid #FFCC00;
	height: 20px;
}

.col-md-4, .col-md-8{
	background-color: red;
	border: 2px solid #FFCC00;
	height: 400px;
}



